$color-brick: steelblue
$color-brick-dark: #27F72D
$color-drop: orange
$color-drop-dark: #393939

html
  box-sizing: border-box
  height: 100%

  *, *:before, *:after
    box-sizing: inherit

body
  color: #666
  display: flex
  flex-flow: column nowrap
  height: 100%
  margin: 0
  padding: 0
  position: relative
  font-family: "helvetica-neue", "arial", sans-serif

  &:after
    color: #f1f1f1
    content: attr(data-points)
    font-size: 5rem
    left: 50%
    margin-top: -5%
    position: absolute
    text-align: center
    text-transform: uppercase
    top: 50%
    transform: translate(-50%,-50%)
    width: 100%

    .dark &
      text-shadow: 0 0 15px #F92672
      color: #F92672

  main
    background: linear-gradient(to bottom, #cecece 0%,#f2f2f2 100%)
    display: flex
    flex: 10 auto
    position: relative

    .dark &
      background: #282828

    .brick,
    .current
      background: lighten($color-brick, 15)
      border-top: 1px solid $color-brick
      border-bottom: 1px solid $color-brick
      bottom: 97%
      height: 3%
      left: 0
      position: absolute
      z-index: 20
      border-radius: 3px

      .dark &
        background: $color-brick-dark
        border-top: 1px solid darken($color-brick-dark, 20)
        border-bottom: 1px solid darken($color-brick-dark, 20)
        box-shadow: 0 0 15px $color-brick-dark

  footer
    display: flex
    flex: 1 auto

    button
      background: lighten($color-drop, 10)
      border: 0
      border-top: 1px solid $color-drop
      color: #fff
      font-size: 16px
      outline: 0
      position: relative
      text-transform: uppercase
      width: 100%

      .dark &
        background: lighten($color-drop-dark, 10)
        border-top: 1px solid $color-drop-dark
        color: #222

        &:active
          background: $color-drop-dark

      &:active
        background: $color-drop

  .modal
    background-color: rgba(255,255,255,0.8)
    bottom: 0
    display: none
    left: 0
    overflow-y: scroll
    padding: 50px
    position: absolute
    right: 0
    top: 0
    z-index: 100

    h2.score:after
      content: attr(data-points)

    label
      display: block
      margin-bottom: 20px

      input
        width: 100%
        border: 1px solid #cecece
        padding: 10px

    ul
      margin: 0 auto
      padding: 0

      li
        list-style: none
        padding: 3px 15px

        &:nth-child(odd)
          background-color: rgba(0,0,0,0.03)

        span
          font-weight: 600
          float: right

    button
      background: $color-drop
      border: 0
      color: #fff
      outline: 0
      padding: 20px
      text-transform: uppercase
      width: 100%
      margin-bottom: 10px

      &.reload
        background: $color-brick
