doctype html
html(lang='en')
  head
    title Bricks
    meta(charset='UTF-8')
    meta(content='How many bricks can you stack?', name='description')
    meta(content='3 days', name='revisit-after')
    meta(content='Zach Manring', name='author')
    meta(name='viewport' content='width=device-width, user-scalable=no')

    // build:css styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page, data-points='Stack the Bricks')
    header
    
    main
      block content

    footer
      button.drop select or press spacebar
    
    .modal
      h2.score(data-points='0') Your score 
      form
        label
          | Name:
          input.name(type='text', maxlength='20', required)
        button.add(type='submit') add
        
      button.reload try again
      
      h2 Leaderboard
      .content

    // build:js scripts/main.js    
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/greensock/src/minified/TweenMax.min.js')
    script(src='/bower_components/underscore/underscore-min.js')
    script(src='/bower_components/firebase/firebase.js')
    script(src='/scripts/main.js')
    // endbuild
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60605104-1', 'auto');
      ga('send', 'pageview');
